.contactMain {
  display: flex;
  flex-direction: column;
  height: max-content;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  background-color: rgb(230, 229, 229);
  margin: 20px;
}
.contactMain h1{
    color: grey;
    padding: 10px;
}
.contactMain input:focus {
    border: 2px solid rgb(184, 184, 80);
}
.contactMain input {
  padding: 10px;
  font-size: 20px;
  color: gray;
  outline: none;
  border: grey 2px solid;
}
.contactMain label {
  font-size: 20px;
  color: gray;
  user-select: none;
}
.contactMain textarea {
  resize: none;
  padding: 5px;
  font-size: 20px;
  color: gray;
  outline: none;
  border: grey 2px solid;
}
.contact_buttons {
  display: flex;
  gap: 10%;
  height: 50px;
}
.textareadiv * {
  vertical-align: top;
}
.contact_buttons button {
  padding: 10px;
  font-size: 20px;
  border: none;
  width: 100px;
  border-radius: 10px;
  transition: 1s ease-in-out;
  outline: none;
  background: rgb(255, 255, 87);
}
.contact_buttons button:hover {
  cursor: pointer;
  background: yellow;
}
