.main_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 22rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.cards_main_section{
  display: block;
}
.heading_Name_card {
  font-size: 25px;
  width: max-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main_card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}
.card_image {
  height: 12rem;
  width: 7rem;
}
.cardmain_div {
  grid-template-columns: repeat(5, 2fr);
  display: grid;
  grid-auto-rows: auto;
}
.Group_of_card_top {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}@media only screen and (max-width: 600px) {
  .cardmain_div {
    grid-template-columns: repeat(1, 1fr);}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cardmain_div {
    grid-template-columns: repeat(1, 1fr);}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 922px) {
  .cardmain_div {
    grid-template-columns: repeat(2, 2fr);}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1172px) {
  .cardmain_div {
    grid-template-columns: repeat(3, 2fr);}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1550px) {
  .cardmain_div {
    grid-template-columns: repeat(5, 2fr);}
}