.main_card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin: 20px;
  height: 22rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.heading_Name_card {
  font-size: 25px;
  width: max-content;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main_card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
}
.card_image {
  height: 12rem;
  width: 7rem;
}
.cardmain_div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.Group_of_card_top {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}