*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header_Links {
  margin: 0;
}
.main {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}
header {
  background-color: yellow;
  height: 80px;
  width: 100%;
}
.logoWebsite {
  font-size: 35px;
  margin-left: 30px;
  line-height: 80px;
  /* padding: 0 100px; */
  font-weight: bold;
}
header ul {
  float: right;
  margin-right: 20px;
}
header ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 0.1rem;
}
.linkClass {
  display: flex;
  font-size: 17px;
  gap: 10px;
  padding: 0px 10px;
  text-transform: uppercase;
  align-items: center;
}
.search_area {
  cursor: pointer;
}
.header_Links:hover {
  background-color: rgb(125, 122, 122);
  border-radius: 5px;
  color: white;
  transition: 0.3s ease-in-out;
}
.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  .logoWebsite {
    font-size: 30px;
    padding-left: 50px;
  }
  header ul li {
    font-size: 16px;
  }
  .linkClass {
    padding: 0;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 233, 7);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: 0.5s all;
    z-index: 100000;
  }
  header ul li {
    display: block;
    width: 100%;
    /* padding: 2rem 0rem; */
    margin: 0px 0;
    /* line-height: 30px; */
  }
  .linkClass {
    font-size: 20px;
  }
  .header_Links:hover {
    background-color: black;
    color: white;
    /* padding: 2rem 0rem; */
    /* padding: 2rem; */
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.bgcolor {
  background-color: rgb(253, 255, 143);
  color: white;
  border-radius: 5px;
  transition: ease-in-out 1s;
}
